<div id="toolbar-panel">
	<div class="inner-wrapper">
		<section id="header-toolbar">
			<img src="/assets/images/logo.png" width="150px" height="150px">
		</section>
		<section id="user-toolbar">
			<h2>Utilisateur</h2>
			<ul>
				<li>
					TODO
				</li>
			</ul>
		</section>
		<section id="links-toolbar">
			<h2>Outils</h2>
			<ul>
				<li>TODO</li>
			</ul>
		</section>
		<section id="misc-toolbar">
			<h2>Divers</h2>
			<ul>
				<li>TODO</li>
			</ul>
		</section>
	</div>
</div>
<div class="container-fluid front-panel">
    <section id="front-panel-links" class="text-center wrapper">
        <perfect-scrollbar id="scroller" class="scroller" ng-show="nbLinks !== 0" wheel-propagation="true" wheel-speed="1" refresh-on-change="links">
            <ul id="link-list" class="link-list">
                <li zori-link ng-repeat="(id, link) in links" class="form-group pull-left category-block wrapper"></li>
            </ul>
            <button type="submit" ng-click="clickAdd()" class="btn btn-default btn-add-link"><span class="glyphicon glyphicon-plus"></span></button>
        </perfect-scrollbar>
        
        <div id="link-tooltip"></div>
    </section>

    <section id="front-panel-footer">
        <form id="link-form" ng-show="showLinkForm" ng-submit="addLink()">
            <div class="form-group">
                <label>Partagez votre musique...</label>
                <input id="new-link" class="form-control zori-form-input" placeholder="♪ The pen explodes and busts, ink spills my guts! ♪" ng-model="newLink" autofocus>
                <label>et dites pourquoi !</label>
                <input id="new-link-comment" class="form-control zori-form-input" placeholder="Like a monkey ready to be shot into space. Space monkey ! Ready to sacrifice himself for the greater good." ng-model="newLinkComment">
            
                <input id="submit" value="Envoyer" type="submit" class="pull-left form-control play-button"/>
            </div>
        </form>
    </section>
</div>

<div id="member-create-account" style="display:none">
    <h2>Create your account</h2>
    <form id="user-form" name="form" ng-submit="createAccount()" novalidate class="css-form">
        <div class="form-group">
            <label>Username</label>
            <input id="new-user-username" class="form-control zori-form-input" placeholder="Your crew name" ng-model="newUser" >
            <label class="required">Email address</label>
            <input id="new-user-email" class="form-control zori-form-input" placeholder="No spam please .... OK !" ng-model="newUserEmail" type="email" required >
            <label class="required">Mot de passe</label>
            <input id="new-user-password" class="form-control zori-form-input" placeholder="Sécurité, j'passe en premier." ng-model="newUserPassword" type="password" required >

            <input id="submit" value="OK" type="submit" class="form-control zori-form-input" ng-disabled="form.$invalid">
        </div>
    </form>
</div>
