<div class="container-fluid front-panel">
    <section id="front-panel-links" class="text-center">
        <ul id="link-list" class="link-list">
            <li ng-repeat="(id, link) in links" class="form-group pull-left category-block">
                <a ng-href="{{link.url}}" class="category" ng-class="link.category" target="_blank" style="height:{{(link.nbClick + 1) * 30}}px; margin-top:{{-((link.nbClick + 1) * 30) / 2}}px"></a>
            </li>
        </ul>
    </section>

    <section id="front-panel-footer">
        <form id="link-form" ng-submit="addLink()">
            <div class="form-group">
                <input id="new-link" class="form-control" placeholder="+" ng-model="newLink" autofocus>
            </div>
        </form>
    </section>
</div>
