<div class="container admin-panel">
  <section>
    <h1>Zori Administration</h1>
    <p class="lead">
      Where you can manage links.
    </p>
  </section>

  <section>
  <header id="header">
    <form id="link-form" ng-submit="addLink()" role="form">
      <div class="form-group">
        <input id="new-link" class="form-control" placeholder="Add a new link" ng-model="newLink" autofocus>
      </div>
    </form>
  </header>
  <section id="main">
    <ul id="link-list" class="link-list">
      <li ng-repeat="(id, link) in links" ng-class="{editing: link == editedLink}">
        <form ng-submit="doneEditing(link)" role="form">
          <div class="form-group">
            <div class="input-group">
              <input class="edit form-control" ng-trim="false" ng-model="link.url" ng-blur="doneEditing(link)" links-focus="link == editedLink">
              <span class="input-group-btn"><a href="{{link.url}}" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-link"></span></a></span>
            </div>
          </div>
        </form>
      </li>
    </ul>
  </section>
</section>
</div>
