[ng-cloak] {
  display: none;
}

.admin-panel .link-list {
  padding-left: 0;
  list-style-type: none;
}

/********************************************************
	Global HTML Elements
********************************************************/
body {
  background: url("../images/dark_dotted_@2X.png") repeat;
}

/********************************************************
	Generic HTML Elements (p, a, li...)
********************************************************/
h1 {
  font-size: 24px;
  color: rgb(110, 110, 110);
}

p {
  color: lightgray;
}

p.lead {
  font-size: 14px;
}

/********************************************************
	Zori specific : categories
********************************************************/
.category-block {
	display: block;
	width: 20px;
	overflow: hidden;
	margin-right: 1px;
}

.category {
	border-radius: 0;
	padding: 2px;
	width: 100%;
}

.soundcloud {
  background-color: rgb(255, 15, 0);
  border: 1px solid white;
  color: white;
  height: 100px;
}

.youtube {
  background-color: rgb(251, 0, 22);
  border: 1px solid white;
  color: white;
  height: 20px;
}

.dailymotion {
  background-color: rgb(0, 75, 114);
  border: 1px solid white;
  color: rgb( 254, 211, 5);
  height: 70px;
}