/********************************************************
	Global HTML Elements
********************************************************/
body {
    position: relative;
    background: url("../images/dark_dotted_@2X.png") repeat;
    background-size: 5px 5px;
}

[ng-cloak] {
    display: none;
}

/********************************************************
	Generic HTML Elements (p, a, li...)
********************************************************/

html {
	height: 100%;
}

body {
	height: 100%;
}

p {
    color: lightgray;
}

p.lead {
    font-size: 14px;
}

a {
	text-decoration: none;
}

label {
    color: #FE6B1B;
}

.hidden {
    display: none;
}

/********************************************************
	Zori specific : layout
********************************************************/

#header {
	position: absolute;
}

#main-wrapper {
	height: 100%;
}

#toolbar-panel {
	position: absolute;
	top: calc(30% - 30px);
	left: 15%;
	width: 70%;
	height: 30px;
}

#member-create-account {
	z-index: 3;
}

.front-panel {
	z-index: 1;
    padding: 0;
}

.front-panel section {
    padding: 0;
}

#front-panel-links {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 40%;
}

#front-panel-footer {
	position: absolute;
	bottom: calc(30% - 30px);
    width: 100%;
    height: 30px;
}

/********************************************************
  Zori specific : Front panel
********************************************************/

.zori-form-input {
    width: 100%;
    padding: 5px 1em;
    border: none;
    color: #eee;
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.2);
}

.zori-form-input:focus {
    border: none;
    outline: 0;
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.4);

}

.front-panel ::-webkit-input-placeholder {
    text-align: center;
}

.front-panel :-moz-placeholder {
    text-align: center;
}

.front-panel ::-moz-placeholder {
    text-align: center;
}

.front-panel :-ms-input-placeholder {
   text-align: center;
}

.front-panel .btn-add-link {
    position: absolute;
    top: calc(50% - 15px);
    width: 20px;
    height: 30px;
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 6px 0 4px;
    background: rgb(198,198,198); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(198,198,198,1) 50%, rgba(165,165,165,1) 51%);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 6px 0 4px;
    background: rgb(198,198,198); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(198,198,198,1) 50%, rgba(165,165,165,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(198,198,198,1)), color-stop(51%,rgba(165,165,165,1)));
    background: -webkit-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: -o-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: -ms-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: linear-gradient(to bottom,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
}

.front-panel .btn-add-link:focus {
    outline: none;
}

.front-panel .btn-add-link:active {
    background: rgb(133,133,133);
}

#link-loader {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #1496BB;
}

/********************************************************
	Zori specific : toolbar-panel
********************************************************/

#toolbar-panel {
    opacity: 0.3;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

#toolbar-panel:hover {
	background-color: #1496BB;
	opacity: 1;
}

#toolbar-panel .inner-wrapper {
	padding: 3px;
}

#toolbar-panel h2 {}

#toolbar-panel h3 {}

#main-menu {
	height: 24px;
	text-align: center;
}

#main-menu li {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	font-size: 18px;
}

#main-menu .icon {
	line-height: 24px;
	padding: 0 1em;
	text-decoration: none;
	color: #FFFFFF;
}

#main-menu .icon:hover {
	color: #333333;
}

#main-menu span {
	display: none;
}

/********************************************************
	Zori specific : Registration modal
********************************************************/

#registration-modal {}

/********************************************************
	Zori specific : Front panel links
********************************************************/

#front-panel-links ul {
	padding: 0;
    height: 100%;
    display: inline-block;
}

#scroller {
    width: 100%;
	height: 100%;
    overflow: hidden;
    position: relative;
}

/********************************************************
	Zori specific : Front panel footer
********************************************************/

#front-panel-footer {
    text-align: center;
}

#front-panel-footer blockquote {
    display: inline-block;
	margin: 0;
	font-size: 0.8em;
	line-height: 30px;
	color: #FFFFFF;
	opacity: 0.3;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

#front-panel-footer blockquote:hover {
	opacity: 1;
}

/********************************************************
	Zori specific : categories
********************************************************/

.category-block {
    display: block;
    width: 8px;
    overflow: hidden;
    margin-right: 1px;
    height: 100%;
}

.category {
    box-sizing: border-box;
    border-radius: 0;
    padding: 2px;
    width: 100%;
    min-height: 10%;
    position: relative;
    display: block;
    cursor: pointer;
    background: rgb(198,198,198); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(198,198,198,1) 50%, rgba(255,255,255,0.2) 51%, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0) 76%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(198,198,198,1) 50%, rgba(255,255,255,0.2) 51%, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0) 76%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(198,198,198,1) 50%, rgba(255,255,255,0.2) 51%, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0) 76%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(198,198,198,1) 50%, rgba(255,255,255,0.2) 51%, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0) 76%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(198,198,198,1) 50%, rgba(255,255,255,0.2) 51%, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0) 76%, rgba(255,255,255,0) 100%);
}

.soundcloud {
    height: 100px;
    margin-top: -50px;
    background: rgb(254,107,27); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,107,27,1) 50%, rgba(183,80,20,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(254,107,27,1)), color-stop(51%,rgba(183,80,20,1)));
    background: -webkit-linear-gradient(top,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
    background: -o-linear-gradient(top,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
    background: -ms-linear-gradient(top,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
    background: linear-gradient(to bottom,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
}

.youtube {
    height: 20px;
    margin-top: -10px;
    background: rgb(201,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,0,0,1) 50%, rgba(155,0,0,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(201,0,0,1)), color-stop(51%,rgba(155,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
    background: -o-linear-gradient(top,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
    background: -ms-linear-gradient(top,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
    background: linear-gradient(to bottom,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
}

.dailymotion {
    height: 70px;
    margin-top: -35px;
    background: rgb(38,122,168); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(38,122,168,1) 50%, rgba(0,74,112,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(38,122,168,1)), color-stop(51%,rgba(0,74,112,1)));
    background: -webkit-linear-gradient(top,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
    background: -o-linear-gradient(top,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
    background: -ms-linear-gradient(top,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
    background: linear-gradient(to bottom,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
}

/********************************************************
  Zori specific : Admin
********************************************************/

.admin-panel .link-list {
    padding-left: 0;
    list-style-type: none;
}

.link-list .input-group-addon {
    padding: 5px;
}

.link-list .input-group-addon input {
    width: 30px;
    border-radius: 3px;
}

/********************************************************
  Zori specific : Elements
********************************************************/

.play-button {
    background: transparent url("../images/logo-header.png") top left no-repeat;
    background-size: 32px 32px;
    padding-left: 35px;
    height: 32px;
    border: none;
    width: auto;
    text-align: left;

}

.loader {
	-webkit-animation: cssAnimation 1s infinite linear;
	-moz-animation: cssAnimation 1s infinite linear;
	-o-animation: cssAnimation 1s infinite linear;
}

@-webkit-keyframes cssAnimation {
	from { -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
	to { -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}

@-moz-keyframes cssAnimation {
	from { -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
	to { -moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}

@-o-keyframes cssAnimation {
	from { -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
	to { -o-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}

/********************************************************
  Zori specific : Dialog
********************************************************/

.ui-dialog-content {
    padding: 15px;
    background-color: rgb(240, 240, 240);
    background-color: rgba(240, 240, 240, 0.95);
}

.ui-dialog-titlebar-close {
    float: right;
    margin-top: 7px;
    background: url('../images/cross-button.png') center no-repeat;
    border: none;
    content: '';
    height: 16px;
    width: 16px;
}

.ui-dialog h2 {
    font-weight: bold;
    font-size: 1.2em;
    color: #FE6B1B;
    margin-bottom: 12px;
}

.ui-dialog form label {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.8em;
    color: #FE6B1B;
}

.ui-dialog input[type=submit] {
    background: white;
    color: #FE6B1B;
    font-weight: bold;
    margin-top: 10px;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
	background-color: #78FA89;
}

form .required:after {
    content: "*";
}

/********************************************************
	Generic tooltip
********************************************************/

.ui-tooltip {
    position: absolute;
    display: inline-block;
    padding: 20px;
    color: #FFFFFF;
    background-color: #1496BB;
}

.ui-tooltip-content {
    display: inline-block;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
}

.ui-tooltip .arrow {
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8.7px 5px 0 5px;
    border-color: #1496BB transparent transparent transparent;
    -webkit-transform:rotate(360deg)
}
