/********************************************************
	Global HTML Elements
********************************************************/
body {
  background: url("../images/dark_dotted_@2X.png") repeat;
}

[ng-cloak] {
  display: none;
}

/********************************************************
	Generic HTML Elements (p, a, li...)
********************************************************/
h1 {
  font-size: 24px;
  color: rgb(110, 110, 110);
}

p {
  color: lightgray;
}

p.lead {
  font-size: 14px;
}

/********************************************************
	Zori specific : layout
********************************************************/

.front-panel {
  padding: 0;
}

.front-panel section {
  padding: 0 15px;
}

.header {}

.front-panel-links {}

.front-panel-footer {}

/********************************************************
	Zori specific : categories
********************************************************/

.category-block {
  display: block;
  width: 8px;
  overflow: hidden;
  margin-right: 1px;
  height: 250px;
  vertical-align: middle;
}

.category {
  border-radius: 0;
  padding: 2px;
  width: 100%;
  min-height: 30px;
  position: relative;
  top: 50%;
  display: block;
  /* Default color */
    background: rgb(198,198,198); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(198,198,198,1) 50%, rgba(165,165,165,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(198,198,198,1)), color-stop(51%,rgba(165,165,165,1)));
    background: -webkit-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: -o-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: -ms-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: linear-gradient(to bottom,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
}

.soundcloud {
    height: 100px;
    margin-top: -50px;
    background: rgb(254,107,27); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,107,27,1) 50%, rgba(183,80,20,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(254,107,27,1)), color-stop(51%,rgba(183,80,20,1)));
    background: -webkit-linear-gradient(top,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
    background: -o-linear-gradient(top,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
    background: -ms-linear-gradient(top,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
    background: linear-gradient(to bottom,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
}

.youtube {
    height: 20px;
    margin-top: -10px;
    background: rgb(201,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,0,0,1) 50%, rgba(155,0,0,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(201,0,0,1)), color-stop(51%,rgba(155,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
    background: -o-linear-gradient(top,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
    background: -ms-linear-gradient(top,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
    background: linear-gradient(to bottom,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
}

.dailymotion {
    height: 70px;
    margin-top: -35px;
    background: rgb(38,122,168); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(38,122,168,1) 50%, rgba(0,74,112,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(38,122,168,1)), color-stop(51%,rgba(0,74,112,1)));
    background: -webkit-linear-gradient(top,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
    background: -o-linear-gradient(top,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
    background: -ms-linear-gradient(top,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
    background: linear-gradient(to bottom,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
}


/********************************************************
	Zori specific : Header
********************************************************/

.header h1 {
  width: 3em;
  height: 1.5em;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 3em;
  line-height: 1.5em;
  text-align: center;
  background-color: #FE6B1B;
  border-radius: 0 0 10px 10px;
}

.header blockquote {
  font-size: 1em;
  color: #666666;
  border-left: none;
  text-align: center;
}

.header blockquote:hover {
  cursor: pointer;
  color: #FE6B1B;
}

/********************************************************
  Zori specific : Footer
********************************************************/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  background-color: #FE6B1B;
}

/********************************************************
  Zori specific : Admin
********************************************************/

.admin-panel .link-list {
  padding-left: 0;
  list-style-type: none;
}
