[ng-cloak] {
  display: none;
}

.admin-panel .link-list {
  padding-left: 0;
  list-style-type: none;
  display: inline-block;
}

/********************************************************
	Global HTML Elements
********************************************************/
body {
  background: url("../images/dark_dotted_@2X.png") repeat;
}

/********************************************************
	Generic HTML Elements (p, a, li...)
********************************************************/
h1 {
  font-size: 24px;
  color: rgb(110, 110, 110);
}

p {
  color: lightgray;
}

p.lead {
  font-size: 14px;
}

/********************************************************
	Zori specific : categories
********************************************************/
.category-block {
  display: block;
  width: 8px;
  overflow: hidden;
  margin-right: 1px;
  height: 250px;
  vertical-align: middle;
}

.category {
  border-radius: 0;
  padding: 2px;
  width: 100%;
  min-height: 30px;
  position: relative;
  top: 50%;
  display: block;
  /* Default color */
  background-color: rgb(180, 180, 180);
}

.soundcloud {
  background-color: #F76700;
  background-image: linear-gradient(#F76700,#FA3219);
  color: white;
  height: 100px;
  margin-top: -50px;
}

.youtube {
  background-image: -webkit-linear-gradient(bottom, rgb(109, 2, 2) 22%, rgb(201, 0, 0) 61%);
  background-image: -moz-linear-gradient(bottom, rgb(109, 2, 2) 22%, rgb(201, 0, 0) 61%);
  background-image: -o-linear-gradient(bottom, rgb(109, 2, 2) 22%, rgb(201, 0, 0) 61%);
  background-image: -ms-linear-gradient(bottom, rgb(109, 2, 2) 22%, rgb(201, 0, 0) 61%);
  background-image: linear-gradient(bottom, #6D0202 22%, rgb(201, 0, 0) 61%); 
  color: white;
  height: 20px;
  margin-top: -10px;
}

.dailymotion {
  background-color: rgb(0, 75, 114);
  color: rgb( 254, 211, 5);
  height: 70px;
  margin-top: -35px;
}

.dailymotion:hover {
  color: rgb( 234, 191, 0);
}