/********************************************************
	Global HTML Elements
********************************************************/
body {
    background: url("../images/dark_dotted_@2X.png") repeat;
    background-size: 5px 5px;
}

[ng-cloak] {
    display: none;
}

/********************************************************
	Generic HTML Elements (p, a, li...)
********************************************************/

p {
    color: lightgray;
}

p.lead {
    font-size: 14px;
}

.hidden {
    display: none;
}

/********************************************************
	Zori specific : layout
********************************************************/

.front-panel {
    padding: 0;
}

.front-panel section {
    padding: 0;
}

#front-panel-links {
    width: 70%;
    height: 300px;
    margin: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

#front-panel-footer {
    width: 70%;
    margin: auto;
}


/********************************************************
	Zori specific : Front panel links
********************************************************/

#front-panel-links ul {
    height: 100%;
	padding: 0;
    display: inline-block;
}


/********************************************************
	Zori specific : categories
********************************************************/

.category-block {
    display: block;
    width: 8px;
    overflow: hidden;
    margin-right: 1px;
    height: 100%;
}

.category {
    border-radius: 0;
    padding: 2px;
    width: 100%;
    min-height: 30px;
    position: relative;
    top: 50%;
    display: block;
    background: rgb(198,198,198); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(198,198,198,1) 50%, rgba(165,165,165,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(198,198,198,1)), color-stop(51%,rgba(165,165,165,1)));
    background: -webkit-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: -o-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: -ms-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: linear-gradient(to bottom,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
}

.soundcloud {
    height: 100px;
    margin-top: -50px;
    background: rgb(254,107,27); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,107,27,1) 50%, rgba(183,80,20,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(254,107,27,1)), color-stop(51%,rgba(183,80,20,1)));
    background: -webkit-linear-gradient(top,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
    background: -o-linear-gradient(top,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
    background: -ms-linear-gradient(top,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
    background: linear-gradient(to bottom,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
}

.youtube {
    height: 20px;
    margin-top: -10px;
    background: rgb(201,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,0,0,1) 50%, rgba(155,0,0,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(201,0,0,1)), color-stop(51%,rgba(155,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
    background: -o-linear-gradient(top,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
    background: -ms-linear-gradient(top,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
    background: linear-gradient(to bottom,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
}

.dailymotion {
    height: 70px;
    margin-top: -35px;
    background: rgb(38,122,168); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(38,122,168,1) 50%, rgba(0,74,112,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(38,122,168,1)), color-stop(51%,rgba(0,74,112,1)));
    background: -webkit-linear-gradient(top,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
    background: -o-linear-gradient(top,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
    background: -ms-linear-gradient(top,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
    background: linear-gradient(to bottom,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
}


/********************************************************
	Zori specific : Header
********************************************************/

#header h1 {
    width: 64px;
    height: 64px;
    margin: 15px;
    padding-left: 64px;
    color: #FFF;
    line-height: 63px;
    font-size: 2em;
    background: transparent url("../images/logo-header.png") top left no-repeat;
    background-size: 64px 64px;
    opacity: 0.4;
}

#header blockquote {
    font-size: 1em;
    color: #666666;
    border-left: none;
    text-align: center;
}

#header blockquote:hover {
    cursor: pointer;
    color: #FE6B1B;
}

#logo {
    width: 80px;
    height: 80px;
    margin: 5px 0 0 5px;
}


/********************************************************
  Zori specific : Front panel
********************************************************/

#new-link {
    width: 100%;
    padding: 5px 1em;
    border: none;
    color: #eee;
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.2);
}

#new-link:focus {
    border: none;
    outline: 0;
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.4);

}

.front-panel ::-webkit-input-placeholder {
    text-align: center;
}

.front-panel :-moz-placeholder {
    text-align: center;
}

.front-panel ::-moz-placeholder {
    text-align: center;
}

.front-panel :-ms-input-placeholder {
   text-align: center;
}


/********************************************************
  Zori specific : Footer
********************************************************/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    background-color: #FE6B1B;
}

/********************************************************
  Zori specific : Admin
********************************************************/

.admin-panel .link-list {
    padding-left: 0;
    list-style-type: none;
}

.link-list .input-group-addon {
    padding: 5px;
}

.link-list .input-group-addon input {
    width: 30px;
    border-radius: 3px;
}
