/********************************************************
	Global HTML Elements
********************************************************/
body {
    background: url("../images/dark_dotted_@2X.png") repeat;
    background-size: 5px 5px;
}

[ng-cloak] {
    display: none;
}

/********************************************************
	Generic HTML Elements (p, a, li...)
********************************************************/

html {
	height: 100%;
}

body {
	height: 100%;
}

p {
    color: lightgray;
}

p.lead {
    font-size: 14px;
}

label {
    color: #FE6B1B;
}

.hidden {
    display: none;
}

.header {
    float: left;
}

/********************************************************
	Zori specific : layout
********************************************************/

#header {
	position: absolute;
	left: 50px;
}

#main-wrapper {
	height: 100%;
}

#toolbar-panel {
	position: absolute;
	left: 50px;
	width: 200px;
	height: 100%;
}

.front-panel {
    padding: 0;
}

.front-panel section {
    padding: 0;
}

#front-panel-links {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 40%;
}

#front-panel-footer {
    width: 70%;
    margin: auto;
    margin-top: 25px;
}


/********************************************************
	Zori specific : toolbar-panel
********************************************************/

#toolbar-panel {
	filter: alpha(opacity=0);
	opacity: 0;
	padding: 0 2px;
	background-color: #5da9c4;
	box-shadow: 0 0 20px #000000;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

#toolbar-panel:hover {
	zoom: 1;
	filter: alpha(opacity=1);
	opacity: 1;
}

#toolbar-panel .inner-wrapper {
	height: 100%;
	padding: 18px;
	border-right: 1px dashed #444;
	border-left: 1px dashed #444;
}

#toolbar-panel section {
	margin-bottom: 20px;
}

#toolbar-panel section h2 {
	margin-bottom: 10px;
	color: #FFFFFF;
	font-size: 1.5em;
	text-transform: uppercase;
	text-shadow: 0 1px 2px #555;
}

#toolbar-panel ul {}

#toolbar-panel li {
	margin-bottom: 5px;
	color: #E4E4E4;
	text-transform: lowercase;
}

#user-toolbar {}

#links-toolbar {}

#misc-toolbar {}


/********************************************************
	Zori specific : Front panel links
********************************************************/

#front-panel-links ul {
	padding: 0;
    height: 100%;
    display: inline-block;
}

#scroller {
    width: 100%;
	height: 100%;
    overflow: hidden;
    position: relative;
}


/********************************************************
	Zori specific : categories
********************************************************/

.category-block {
    display: block;
    width: 8px;
    overflow: hidden;
    margin-right: 1px;
    height: 100%;
}

.category {
    box-sizing: border-box;
    border-radius: 0;
    padding: 2px;
    width: 100%;
    min-height: 10%;
    position: relative;
    display: block;
    cursor: pointer;
    background: rgb(198,198,198); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(198,198,198,1) 50%, rgba(165,165,165,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(198,198,198,1)), color-stop(51%,rgba(165,165,165,1)));
    background: -webkit-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: -o-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: -ms-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: linear-gradient(to bottom,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
}

.soundcloud {
    height: 100px;
    margin-top: -50px;
    background: rgb(254,107,27); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,107,27,1) 50%, rgba(183,80,20,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(254,107,27,1)), color-stop(51%,rgba(183,80,20,1)));
    background: -webkit-linear-gradient(top,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
    background: -o-linear-gradient(top,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
    background: -ms-linear-gradient(top,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
    background: linear-gradient(to bottom,  rgba(254,107,27,1) 50%,rgba(183,80,20,1) 51%);
}

.youtube {
    height: 20px;
    margin-top: -10px;
    background: rgb(201,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,0,0,1) 50%, rgba(155,0,0,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(201,0,0,1)), color-stop(51%,rgba(155,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
    background: -o-linear-gradient(top,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
    background: -ms-linear-gradient(top,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
    background: linear-gradient(to bottom,  rgba(201,0,0,1) 50%,rgba(155,0,0,1) 51%);
}

.dailymotion {
    height: 70px;
    margin-top: -35px;
    background: rgb(38,122,168); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(38,122,168,1) 50%, rgba(0,74,112,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(38,122,168,1)), color-stop(51%,rgba(0,74,112,1)));
    background: -webkit-linear-gradient(top,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
    background: -o-linear-gradient(top,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
    background: -ms-linear-gradient(top,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
    background: linear-gradient(to bottom,  rgba(38,122,168,1) 50%,rgba(0,74,112,1) 51%);
}


/********************************************************
	Zori specific : Header
********************************************************/

#header {
    width: 100%;
}

#header h1 {
    width: 64px;
    height: 64px;
    margin: 15px;
    padding-left: 64px;
    color: #FFF;
    line-height: 63px;
    font-size: 2em;
    background: transparent url("../images/logo-header.png") top left no-repeat;
    background-size: 64px 64px;
    opacity: 0.4;
    cursor: default;
    float: left;
}

#header blockquote {
    font-size: 1em;
    color: #666666;
    border-left: none;
    text-align: center;
    float: left;
}

#header blockquote:hover {
    cursor: pointer;
    color: #FE6B1B;
}

#logo {
    width: 80px;
    height: 80px;
    margin: 5px 0 0 5px;
}


/********************************************************
  Zori specific : Front panel
********************************************************/

.zori-form-input {
    width: 100%;
    padding: 5px 1em;
    border: none;
    color: #eee;
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.2);
}

form.light-form input {
    background-color: rgba(0, 0, 0, 0.7);
}

form.light-form input:focus {
    background-color: rgba(0, 0, 0, 0.9);
}

.zori-form-input:focus {
    border: none;
    outline: 0;
    background-color: #333333;
    background-color: rgba(0, 0, 0, 0.4);

}

.front-panel ::-webkit-input-placeholder {
    text-align: center;
}

.front-panel :-moz-placeholder {
    text-align: center;
}

.front-panel ::-moz-placeholder {
    text-align: center;
}

.front-panel :-ms-input-placeholder {
   text-align: center;
}

.front-panel .btn-add-link {
    position: absolute;
    top: calc(50% - 15px);
    width: 20px;
    height: 30px;
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 6px 0 4px;
    background: rgb(198,198,198); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(198,198,198,1) 50%, rgba(165,165,165,1) 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(198,198,198,1)), color-stop(51%,rgba(165,165,165,1)));
    background: -webkit-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: -o-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: -ms-linear-gradient(top,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
    background: linear-gradient(to bottom,  rgba(198,198,198,1) 50%,rgba(165,165,165,1) 51%);
}

.front-panel .btn-add-link:focus {
    outline: none;
}

.front-panel .btn-add-link:active {
    background: rgb(133,133,133);
}


/********************************************************
  Zori specific : Footer
********************************************************/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    background-color: #FE6B1B;
}

/********************************************************
  Zori specific : Admin
********************************************************/

.admin-panel .link-list {
    padding-left: 0;
    list-style-type: none;
}

.link-list .input-group-addon {
    padding: 5px;
}

.link-list .input-group-addon input {
    width: 30px;
    border-radius: 3px;
}

/********************************************************
  Zori specific : Elements
********************************************************/
.play-button {
    background: transparent url("../images/logo-header.png") top left no-repeat;
    background-size: 32px 32px;
    padding-left: 35px;
    height: 32px;
    border: none;
    width: auto;
    text-align: left;

}

/********************************************************
  Zori specific : Dialog
********************************************************/
.ui-dialog-content {
    padding: 15px;
    background-color: rgb(240, 240, 240);
    background-color: rgba(240, 240, 240, 0.95);
}

.ui-dialog-titlebar-close {
    float: right;
    margin-top: 7px;
    background: url('../images/cross-button.png') center no-repeat;
    border: none;
    content: '';
    height: 16px;
    width: 16px;
}

.ui-dialog h2 {
    font-weight: bold;
    font-size: 1.2em;
    color: #FE6B1B;
    margin-bottom: 12px;
}

.ui-dialog form label {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.8em;
    color: #FE6B1B;
}

.ui-dialog input[type=submit] {
    background: white;
    color: #FE6B1B;
    font-weight: bold;
    margin-top: 10px;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
	background-color: #78FA89;
}

form .required:after {
    content: "*";
}





